:root {
    --m: 5px;
    --f: 20px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

#area {
    margin: var(--m);
    margin: auto;
    margin: 10px;
    text-align: start;
    background-color: whitesmoke;
    border: 2px solid black;
    border-style: inset;
    border-radius: var(--m);
    padding: var(--m);
    font-size: var(--f);
}

#input {
    height: 50px;
    font-size: var(--f);
}

.btn {
    height: 50px;
    width: 80px;
    border-radius: var(--m);
}

.btn:hover {
    cursor: pointer;
}

.item {
    border: 1px solid black;
    border-radius: var(--f);
    padding: var(--m);
    box-shadow: 1px 1px 0px black;
}

.item::before {
    content: "- ";
}