:root {
    --m: 5px;
    --f: 20px;
}

body {
    text-align: center;
    font-family: sans-serif;
}

#area {
    margin: var(--m);
    margin: auto;
    text-align: start;
    background-color: gray;
    border-radius: var(--m);
    padding: var(--m);
    font-size: var(--f);
}

#input {
    height: 50px;
    font-size: var(--f);
}

.btn {
    height: 50px;
    width: 80px;
    border-radius: var(--m);
}

.btn:hover {
    cursor: pointer;
}